
@{
    ViewBag.Title = "People";
}

<h2>People View</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><h3>@Html.ActionLink("List of People", "ListPeople", "People")</h3></li>
    </ul>
</div>

